{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="BootstrapStudio/bootstrap/css/OcOrato---Login-form-1.css">
    <link rel="stylesheet" href="BootstrapStudio/bootstrap/css/OcOrato---Login-form.css">
    <link rel="stylesheet" href="BootstrapStudio/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="BootstrapStudio/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="BootstrapStudio/bootstrap/css/styles.css">

{% endblock %}

{% block body %}
<div class="loginForm" style="background-image: url('BootstrapStudio/img/login.jpg');">
    <form method="post" id="form" style="font-family:Quicksand, sans-serif;background-color:rgba(44,40,52,0.73);width:320px;padding:40px;">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

{#        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
{#        <label for="inputUsername">Username</label>#}
        <div class="form-group"><input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Ton pseudo" required autofocus></div>
{#        <label for="inputPassword">Password</label>#}
        <div class="form-group"><input type="password" name="password" id="inputPassword" class="form-control" placeholder="Ton mot de passe" required></div>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

            {#Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html#}

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>

        <button class="btn btn-lg btn-light btn-primary" type="submit">
            Sign in
        </button>
    </form>
    <script src="BootstrapStudio/bootstrap/js/jquery.min.js"></script>
    <script src="BootstrapStudio/bootstrap/js/bootstrap.min.js"></script>
</div>
{% endblock %}
